# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
Release/

# Visual Studio
.vs/
